Repository Slum-Dev/neetdiv_form: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint-code, typecheck

lefthook.yml:

#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{json,md,yml,yaml}"
      stage_fixed: true
      run: npx prettier -w {staged_files}
    lint-code:
      glob: "*.{ts,js,tsx,jsx}"
      stage_fixed: true
      run: npx biome check --write --error-on-warnings {staged_files}
    typecheck:
      glob: "*.{ts,tsx}"
      run: npm run typecheck

回答のサモナー名・サモナーIDを正しいもので上書き
  src/config/constants.ts
  src/handlers/FormSubmissionHandler.ts
Due: lint-code, typecheck

回答のサモナー名・サモナーIDを正しいもので上書き (#36)
  src/config/constants.ts
  src/handlers/FormSubmissionHandler.ts
Due: lint-code, typecheck

SpreadsheetServiceにfindCellを追加
  src/__mocks__/SpreadsheetService.ts
  src/services/SpreadsheetService.test.ts
  src/services/SpreadsheetService.ts
Due: lint-code, typecheck

時間主導で失敗した項目を再取得するハンドラを追加
  src/global.d.ts
  src/handlers/FormRetryHandler.ts
  src/handlers/FormSubmissionHandler.test.ts
  src/handlers/FormSubmissionHandler.ts
  src/main.ts
Due: lint-code, typecheck

cronではなくsubmitの後続に変更
  src/main.ts
Due: lint-code, typecheck

onCron宣言を削除
  src/global.d.ts
Due: lint-code, typecheck

APIエラーで失敗した項目を再取得する (#37)
  src/__mocks__/SpreadsheetService.ts
  src/handlers/FormRetryHandler.ts
  src/handlers/FormSubmissionHandler.test.ts
  src/handlers/FormSubmissionHandler.ts
  src/main.ts
  src/services/SpreadsheetService.test.ts
  src/services/SpreadsheetService.ts
Due: lint-code, typecheck

HTMLファイルの配置を対応、appsscript.jsonも同様cpxで配置するように変更
  .github/workflows/deploy.yml
  package-lock.json
  package.json
Due: format

フォームタイムスタンプからDate型に変換用のParserを追加
  src/utils/dateParaser.test.ts
  src/utils/dateParser.ts
Due: lint-code, typecheck

定数を追加
  src/config/constants.ts
  src/main.ts
Due: lint-code, typecheck

カスタムメニューを追加
  src/global.d.ts
  src/handlers/MenuActionHandler.ts
  src/main.ts
  src/ui/remove_before_dialog.html
Due: lint-code, typecheck

記入履歴削除用カスタムメニュー追加 (#38)
  .github/workflows/deploy.yml
  package-lock.json
  package.json
  src/config/constants.ts
  src/global.d.ts
  src/handlers/MenuActionHandler.ts
  src/main.ts
  src/ui/remove_before_dialog.html
  src/utils/dateParaser.test.ts
  src/utils/dateParser.ts
Due: format, lint-code, typecheck

READMEを更新
  README.md
Due: format

READMEを更新 (#39)
  README.md
Due: format
